.Modal {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50, 50, 50, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background-color: snow;
  border-radius: 6px;
  min-height: 200px;
  min-width: 200px;
  box-shadow: rgba(50, 50, 50, 0.5) 0px 0px 3px 3px;
  padding: 8px;
}
.closer-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
