.KeyboardEditor {
  background-color: #c1cefe;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  box-shadow: lightgray 0px 2px 3px 3px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.closer-container {
  display: flex;
  justify-content: flex-end;
}
