.KeyboardEditor {
  background-color: #c1cefe;
  width: fit-content;
  padding: 16px;
  border-radius: 8px;
  box-shadow: #624cab 0px 2px 6px 6px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.closer-container {
  display: flex;
  justify-content: flex-end;
}
