.KeyboardKey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #7189ff;
  color: snow;
  border-radius: 6px;
  font-size: x-large;
  cursor: pointer;
  margin: 2px;
  box-shadow: darkgray 0px 0px 2px 2px;
  transition: 0.3s;
}
.KeyboardKey:hover {
  background-color: #624cab;
}

.space-button {
  width: 200px;
}
