.KeyboardTabs {
  display: flex;
  width: 100%;
  margin-left: 10%;
}

.keyboard-tab {
  display: flex;
  justify-content: flex-start;
  padding: 8px 32px 8px 8px;
  cursor: pointer;
  width: 70px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
