.Nav {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  transition: 0.3s;
  padding: 8px;
}

.nav-icon:hover {
  box-shadow: #7189ff 0px 0px 4px 4px;
  background-color: #7189ff;
  border-radius: 6px;
}
